body
{
  background-color:purple;
}

.column {
  display: flex;
  flex-direction: column;

}


.signup {
  background-color:lightgray;
  margin-top: 7%;
  padding: 5%;
  border: 5px solid lightgray;
  height: 500px;
  width:1700px;
  /* //margin-left:31.5%; */
}
input {
  background-color: whitesmoke;
  border: 2px solid black;
  font-size: 20px;
  height: 40px;
  width:380px;
  margin: 5px;
  padding: 5px;
  margin-left: 510px;
  margin-top: 8px;
  margin-bottom:8px;
}
.a
{
  position:absolute;
  left:600px;
  top:30px;
  font-Size:50px;

}

.b
{
  height: 220px;
  width:410px;
   position:absolute;
   top:150px;
   left:100px;
}



.d
{
  font-Size:40px;
  position:absolute;
  top:540px;
  background-Color:yellow;
  left:500px;
}
