body
{
  background-color:purple;
}

.column {
  display: flex;
  flex-direction: column;

}


.signup {
  background-color:lightgray;
  margin-top: 7%;
  padding: 5%;
  border: 5px solid lightgray;
  height: 500px;
  width:1700px;
  /* //margin-left:31.5%; */
}
input {
  background-color: whitesmoke;
  border: 2px solid black;
  font-size: 20px;
  height: 40px;
  width:380px;
  margin: 5px;
  padding: 5px;
  margin-left: 510px;
  margin-top: 8px;
  margin-bottom:8px;
}
