.header {
  background-color: rgb(206, 216, 216);
  display: flex;
  padding: 8px;
}

.nav_buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
