* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  /* background-color: rgb(165, 172, 179); */
}
html {
  /* font-size: 62.5%; */
}
body {
  font-family: "Lato", sans-serif;
}
.container {
  /* width: 75vw; */
  /* height: 100vh; */
  min-height: 80vh;
  margin: 10rem;
  padding: 5rem;
  background-color: rgb(233, 233, 233);
}
